* {
    font-family: 'Red Hat Text', sans-serif;
}

.container-fluid {
    background-color: #e6eff6;
}

.card {
    height: 430px;
}

.card-img-top {
    object-fit: contain;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn {
    border-radius: 0%;
    font-size: 14px;
    font-weight: 500;
}

.btn:hover {
    background-color: rgb(121, 201, 255);
    color:white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(68, 73, 150, 0.2), 0 6px 20px 0 rgba(50, 52, 75, 0.19);
}

h5 {
    font-size: 18px;
}

p {
    font-size: 13px;
}

.line {
    border-bottom: 1px solid lightgrey;
    margin-left:30%;
    margin-right:30%
}