* {
    font-family: 'Red Hat Text', sans-serif;
}

.container-fluid {
    background-color: #e6eff6;
}

.card {
    height: 410px;
}

.card-img-top {
    object-fit: contain;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn {
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0%;
    font-size: 14px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 13px;
}